<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="homepage">
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
          

          <div class="row">
            <div class="col"><p style="text-align: center; font-size: 60px; font-weight: bold">Collin Hurst</p></div>
          </div>
          <nav class="navbar navbar-expand bg-light py-0 ">
    <ul class="navbar-nav ml-auto nav-fill align-items-end w-100 ">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
    </ul>
</nav>



        </div>
    </main>
  </body>


</html>
